html {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
}

.landing_container {
    height: 100vh;
    width: 100vw;
    z-index: 10;
}

.landing_bar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.word {
    object-fit: contain;
    position: absolute;
    transition: .2s ease all;
    z-index: 100;
}

#landing_background_image {
    height: 100vh;
    width: 100vw;
    z-index: 1;

    left: 0;
    top: 0;
    position: fixed;
}



#an_escape:hover {
    fill: green;
}
#an_escape:hover ~ #landing_background_image {
    background-image: url('word_background_imgs/an_escape.jpg');
}


#metamorphosis:hover {
    fill: orange;
}
#metamorphosis:hover ~ #landing_background_image {
    background-image: url('word_background_imgs/metamorphosis.jpg');
}

#adaptability:hover {
    fill: red;
}
#adaptability:hover ~ #landing_background_image {
    background-image: url('word_background_imgs/adaptability.png');
}

#coherence:hover {
    fill: red;
}
#coherence:hover ~ #landing_background_image {
    background-image: url('word_background_imgs/coherence.png');
}

#memory:hover {
    fill: red;
}
#memory:hover ~ #landing_background_image {
    background-image: url('word_background_imgs/coherence.png');
}

#identity:hover {
    fill: red;
}
#identity:hover ~ #landing_background_image {
    background-image: url('word_background_imgs/coherence.png');
}

#anxiety:hover {
    fill: red;
}
#anxiety:hover ~ #landing_background_image {
    background-image: url('word_background_imgs/coherence.png');
}

#balance:hover {
    fill: red;
}
#balance:hover ~ #landing_background_image {
    background-image: url('word_background_imgs/coherence.png');
}

#interaction:hover {
    fill: red;
}
#interaction:hover ~ #landing_background_image {
    background-image: url('word_background_imgs/coherence.png');
}

#culture:hover {
    fill: red;
}
#culture:hover ~ #landing_background_image {
    background-image: url('word_background_imgs/coherence.png');
}

#understanding:hover {
    fill: red;
}
#understanding:hover ~ #landing_background_image {
    background-image: url('word_background_imgs/coherence.png');
}

#stories:hover {
    fill: red;
}
#stories:hover ~ #landing_background_image {
    background-image: url('word_background_imgs/coherence.png');
}

#sustainability:hover {
    fill: red;
}
#sustainability:hover ~ #landing_background_image {
    background-image: url('word_background_imgs/coherence.png');
}

#myself:hover {
    fill: red;
}
#myself:hover ~ #landing_background_image {
    background-image: url('word_background_imgs/coherence.png');
}

#legacy:hover {
    fill: red;
}
#legacy:hover ~ #landing_background_image {
    background-image: url('word_background_imgs/coherence.png');
}

/* mobile devices (only plan to support 320px-480px) */
@media screen and (max-width: 480px) {

}

/* ipads and tablets (480px-767px) */
@media screen and (min-width: 480px) {
    .word {
        width: 160px;
    }
}

/* small screens and laptops (768px-1023px) */
@media screen and (min-width: 768px) {
    .landing_bar div {
        margin: 16px;
    }

    .landing_title {
        font-size: 40px;
    }

    .word {
        width: 250px;
    }

    #an_escape {
        bottom: 30px;
        transform: rotate(-15deg); 
    }

    #metamorphosis {
        bottom: 30px;
        left: 260px;
        transform: rotate(5deg); 
    }

    #adaptability {
        bottom: 20px;
        left: 510px;
        transform: rotate(-15deg); 
    }

    #coherence {
        bottom: 150px;
        left: 20px;
        transform: rotate(-25deg); 
    }

    #memory {
        bottom: 100px;
        left: 180px
    }

    #identity {
        bottom: 180px;
        left: 550px;
        transform: rotate(95deg); 
    }

    #anxiety {
        bottom: 150px;
        left: 300px;
        transform: rotate(35deg); 
    }

    #balance {
        bottom: 279px;
        left: 198px;
        transform: rotate(-5deg); 
    }

    #interaction {
        bottom: 270px;
        left: 420px;
        transform: rotate(45deg); 
    }

    #culture {
        bottom: 380px;
        left: 510px;
        transform: rotate(-15deg); 
    }

    #interaction {
        bottom: 270px;
        left: 10px;
        transform: rotate(-65deg); 
    }

    #culture {
        bottom: 410px;
        left: 90px;
        transform: rotate(15deg); 
    }

    #understanding {
        bottom: 300px;
        left: 430px;
        transform: rotate(75deg); 
    }

    #stories {
        bottom: 420px;
        left: 490px;
        transform: rotate(15deg); 
    }

    #sustainability {
        bottom: 420px;
        left: 280px;
        transform: rotate(-45deg); 
    }

    #myself {
        width: 200px;
        bottom: 520px;
        left: 500px;
        transform: rotate(-15deg); 
    }

    #legacy {
        bottom: 520px;
        left: 10px;
        transform: rotate(-15deg); 
    }
}
/* desktops and large screens (1024px-1199px) */
@media screen and (min-width: 1024px) {
    
}

/* at or larger than 1200px */
@media screen and (min-width: 1200px) {
    
}